@page
@model StudentPortfolio.Areas.Admin.Pages.CDL.EditCDLModel
@{
    ViewData["Title"] = "EditCDL";
}

@section CDLNav {
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-area="Admin" asp-page="/CDL/CDLs">CDLs</a>
    </li>
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 col-lg-6 mx-auto">
            <div class="card shadow-sm border-1 rounded-3">
                <div class="card-header bg-light text-black text-center rounded-top-4">
                    <h4 class="mb-0">Edit CDL</h4>
                </div>

                <div class="card-body p-4">

                    <form method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <input type="hidden" asp-for="Cdl.CdlId" />
                        <input type="hidden" asp-for="Cdl.DateCreated" />

                        <div class="form-group mb-3">
                            <label asp-for="Cdl.Title" class="form-label fw-bold">Title</label>
                            <input asp-for="Cdl.Title" class="form-control" rows="2" />
                            <span asp-validation-for="Cdl.Title" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Cdl.Description" class="form-label fw-bold">Description</label>
                            <textarea asp-for="Cdl.Description" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Cdl.Description" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Cdl.Link" class="form-label fw-bold">External Link</label>
                            <input asp-for="Cdl.Link" class="form-control" rows="2" />
                            <span asp-validation-for="Cdl.Link" class="text-danger"></span>
                        </div>

                        @if (Model.Cdl.IconImage != null && Model.Cdl.IconImage.Length > 0)
                        {
                            var base64 = Convert.ToBase64String(Model.Cdl.IconImage);
                            var imgSrc = $"data:image/jpeg;base64,{base64}";
                            <div>
                                <p>Current icon:</p>
                                <img src="@imgSrc" alt="Icon" width="64" height="64" />
                            </div>
                        }

                        <div class="mb-3">
                            <label class="form-label">Icon Image</label>
                            <input asp-for="IconImage" type="file" class="form-control" accept="image/*" />
                            <span asp-validation-for="IconImage" class="text-danger"></span>
                        </div>

                        <div class="d-flex justify-content-end gap-2 pt-3">
                            <a class="btn btn-danger" asp-page="./CDLs">Cancel</a>
                            <input type="submit" value="Update CDL" class="btn btn-success" />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}