@page
@model StudentPortfolio.Pages.Export.ExportModel
@{
    ViewData["Title"] = "Export";
}


<div style="display: flex; justify-content: flex-end;">
    <a class="btn btn-primary" asp-page="/Summary/Summary">Back to Summary</a>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Export</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Personal Summary</td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="summaryCheckbox">
                    <label class="form-check-label" for="item1Checkbox"></label>
                </div>
            </td>
        </tr>
        <tr>
            <td>Elevator Pitch</td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="elevatorCheckbox">
                    <label class="form-check-label" for="item2Checkbox"></label>
                </div>
            </td>
        </tr>
        <tr>
            <td>Competencies</td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="competenciesCheckbox">
                    <label class="form-check-label" for="item2Checkbox"></label>
                </div>
            </td>
        </tr>
        <tr>
            <td>Resume</td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="resumeCheckbox">
                    <label class="form-check-label" for="item2Checkbox"></label>
                </div>
            </td>
        </tr>
        <tr>
            <td>Cover Letter</td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="coverlettterCheckbox">
                    <label class="form-check-label" for="item2Checkbox"></label>
                </div>
            </td>
        </tr>
        <tr>
            <td>Goals</td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="goalsCheckbox">
                    <label class="form-check-label" for="item2Checkbox"></label>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<br />

<div class="text-center">
    <form method="post" asp-page-handler="ExportSummaryAsCSV">
        <button type="submit" class="btn btn-primary mb-2">Export</button>
    </form>
</div>