@page
@model StudentPortfolio.Pages.Export.ExportModel
@{
    ViewData["Title"] = "Export";
}


<div style="display: flex; justify-content: flex-end;">
    <a class="btn btn-primary" asp-page="/Summary/Summary">Back to Summary</a>
</div>

<form method="post" asp-page-handler="ExportPortfolio">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Export</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Personal Summary</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="ExportSummary" id="summaryCheckbox">
                        <label class="form-check-label" for="summaryCheckbox"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Elevator Pitch</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="ExportPitch" id="pitchCheckbox">
                        <label class="form-check-label" for="pitchCheckbox"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Competency Entries</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="ExportCompetencies" id="competenciesCheckbox">
                        <label class="form-check-label" for="competenciesCheckbox"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Career Development Plan</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="ExportCDP" id="CDPCheckbox">
                        <label class="form-check-label" for="CDPCheckbox"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Goals</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="ExportGoals" id="goalsCheckbox">
                        <label class="form-check-label" for="goalsCheckbox"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>General Statistics</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="ExportStats" id="statsCheckbox">
                        <label class="form-check-label" for="statsCheckbox"></label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-center">
        <button type="submit" class="btn btn-primary mb-2">Export</button>
    </div>
</form>