@page
@model StudentPortfolio.Pages.Export.ExportOrphanedTrackersModel
@{
}

<tr>
    <td>Competencies</td>
    <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="ExportCompetencies" id="competenciesCheckbox">
            <label class="form-check-label" for="competenciesCheckbox"></label>
        </div>
    </td>
</tr>