@page
@model StudentPortfolio.Pages.CDL.CDL2Model
@{
    ViewData["Title"] = "CDL2";
}

@section CDLNav {
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-page="/CDL/CDL">CDL</a>
    </li>
}

<h3>Career Development Learning Files</h3>

<table class="table  table-bordered table-striped">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Updated
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                <img src="~/img/CDL_image/CDL1icon.jpg" style="height: 40px; width: 40px;" alt="Icon for CDL 1">
            </td>
            <td>
                <a href="https://lo.unisa.edu.au/course/view.php?id=12755">Introduction to Career Development Planning & Management</a>
            </td>
            <td>
                Start planning your career, considering questions like - Where can my studies take me? What are my interests, preferences, likes, dislikes, personality, beliefs and values? Where will I find work, and what are my career options? What skills and experience do I need to develop, to achieve my career goals?
            </td>
            <td>
                2025/09/02
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/img/CDL_image/CDL2icon.jpg" style="height: 40px; width: 40px;" alt="Icon for CDL 2">
            </td>
            <td>
                <a href="https://lo.unisa.edu.au/course/view.php?id=12755">Building Work History through Practical Experience</a>
            </td>
            <td>
                Practical work experiences help you build work history and demonstrate your skills and knowledge to a prospective employer. They will also give you career ideas or help you make decisions about your career options. Take the time to find out how and why you should gain work experience, building your employability toolkit.
            </td>
            <td>
                2025/09/02
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/img/CDL_image/CDL3icon.jpg" style="height: 40px; width: 40px;" alt="Icon for CDL 3">
            </td>
            <td>
                <a href="https://lo.unisa.edu.au/course/view.php?id=12756">Professional Profile, Resume and Social Media</a>
            </td>
            <td>
                Create and manage your professional profile. Ensure your online profile makes an impact and build a resume that resonates with your audience.
            </td>
            <td>
                2025/09/02
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/img/CDL_image/CDL4icon.jpg" style="height: 40px; width: 40px;" alt="Icon for CDL 4">
            </td>
            <td>
                <a href="https://lo.unisa.edu.au/course/view.php?id=12757">Developing Employability Skills</a>
            </td>
            <td>
                Developing effective employability skills is an essential part of the successful transition from university to your chosen career. Consider the skills employers are looking for now, keeping up-to-date with current employability skill trends. Develop your skills further, helping you to succeed in your future career.
            </td>
            <td>
                2025/09/02
            </td>
        </tr>
    </tbody>
</table>

