@page
@model StudentPortfolio.Areas.Staff.Pages.FeedbackModel
@{
    ViewData["Title"] = "Feedback";
}

<main class="content-area">
    <div class="goal-preview">
        Preview of SMART Goal/Evidence
    </div>
    <div class="feedback-section">
        <textarea class="feedback-textbox" placeholder="Write Feedback"></textarea>
        <button class="btn btn-success">Submit</button>
    </div>
</main>
