@page
@model StudentPortfolio.Areas.Staff.Pages.ViewStudentDataModel
@{
}

<form method="get">
    <input type="hidden" name="userName" value="@Model.UserName" />

    <label for="select-year" class="form-label fw-bold">Select year</label>
    <select id="select-year" class="form-select form-select-sm w-100" name="selectedYear" onchange="this.form.submit()">
        <option disabled>Select year</option>
        
        @foreach (var year in Model.AvailableYears)
        {
            <option value="@year" selected="@(Model.selectedYear == year)">@year</option>
        }
    </select>
</form>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary">Career Development Plan</button>
    <button type="button" class="btn btn-outline-primary">SMART Goals</button>
    <button type="button" class="btn btn-outline-primary">Networking</button>
    <button type="button" class="btn btn-outline-primary">Competencies</button>
</div>

<div class="mt-3">
    @if (Model.CDP != null)
    {
        <partial name="_CareerDevelopmentPlan" model="Model.CDP" />
    }
    else
    {
        <div class="alert alert-info" role="alert">
            No Career Development Plan found for the selected year.
        </div>
    }
</div>

