.input-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input {
    height: 30px;
}

.collapsible-content {
    display: none;
}

.toggle-details {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.2em;
    font-weight: bold;
}

.icon-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.delete-button {
    border: none;
    outline: none;
    background-color: transparent
}

.feedback-button {
    border: none;
    outline: none;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.feedback-button-container {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}