.input-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input {
    height: 30px;
}

.nav-item {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}