@page
@model StudentPortfolio.Pages.Summary.SummaryModel
@{
    ViewData["Title"] = "Summary";
}

<h1 style="text-align: center;">Summary</h1>

<img src="@Model.ProfileImageBase64" alt="Profile image">

<h3 style="text-align: center;">@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</h3>
<p style="text-align: center;">@Model.CurrentUser.Degree</p>

<hr />

<div style="display: flex; justify-content: flex-end;">
    <a class="btn btn-primary" asp-page="/Dashboard/Dashboard">Back to Dashboard</a>
</div>

<select class="form-select w-auto" name="yearSelect">
    <option value="">-- Select Year --</option>
    <option value="2024">2024</option>
    <option value="2025">2025</option>
</select>


<div class="my-box3">
    <h3 style="text-align: center;">Stats</h3>
    <div class="col">
        <p>Goals Completed This Year: 10 </p>
        <p>Competencies Confident: 6</p>
        <p>Competencies Emerging: 4 </p>
        <p>Logbook Completed</p>
    </div>

</div>

<div class="text-center">
    <a class="btn btn-secondary" style="text-align: center;" asp-page="/Export/Export">Export</a>
</div>


