@page
@model RegisterModel
@{
    ViewData["Title"] = "Register an Admin";
}

<h1 style="text-align:center; margin-top:100px; margin-bottom: 10px;">@ViewData["Title"]</h1>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm border-1 rounded-4">
                <div class="card-body p-4">
                    <section>
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                            <div class="form-group mb-3">
                                <label asp-for="Input.Email" class="form-label fw-bold">Email</label>
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="Input.Password" class="form-label fw-bold">Password</label>
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for="Input.ConfirmPassword" class="form-label fw-bold">Confirm Password</label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div>
                                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
