@page
@model StudentPortfolio.Areas.Admin.Pages.StudentsModel
@{
    ViewData["Title"] = "Students";
}

<a class="btn btn-success" style="margin-bottom: 20px;" asp-area="Identity" asp-page="/Account/Register">Register New Student</a>

<form asp-page-handler="Search" method="get" style="margin-bottom: 20px;" class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="SearchString" value="@Model.SearchString">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<table class="table table-bordered table-striped" id="myTable" data-toggle="table" data-select-item-name="btSelectItem" data-multiple-select-row="true">
    <thead>
        <tr>
            <th><input type="checkbox" id="selectAllRows"></th>
            <th>
                Name
            </th>
            <th>
                Degree
            </th>
            <th>
                View Data
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Users)
        {
            <tr>
                <td><input type="checkbox" class="rowCheckbox" data-id="1"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Degree)
                </td>
                <td>
                  
                </td>
            </tr>
        }
    </tbody>
</table>

