@page
@model StudentPortfolio.Pages.Goals.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 col-lg-6 mx-auto">
            <div class="card shadow-sm border-1 rounded-3">
                <div class="card-header bg-light text-black text-center rounded-top-4">
                    <h4 class="mb-0">Create New Goal</h4>
                </div>

                <div class="card-body p-4">

                    <form method="post">

                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="form-group mb-3">
                            <label asp-for="Goal.Description" class="form-label fw-bold"></label>
                            <textarea asp-for="Goal.Description" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Goal.Description" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Goal.Timeline" class="form-label fw-bold"></label>
                            <textarea asp-for="Goal.Timeline" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Goal.Timeline" class="text-danger"></span>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Goal.StartDate" class="form-label fw-bold">Start Date</label>
                                    <input asp-for="Goal.StartDate" class="form-control" type="date" />
                                    <span asp-validation-for="Goal.StartDate" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Goal.EndDate" class="form-label fw-bold">End Date</label>
                                    <input asp-for="Goal.EndDate" class="form-control" type="date" />
                                    <span asp-validation-for="Goal.EndDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center gap-2 pt-3">
                            <a class="btn btn-danger" asp-page="Goals">Cancel</a>
                            <input type="submit" value="Create Goal" class="btn btn-success" />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
