.cdp-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cdp-row {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.cdp-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.readonly-textarea {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    color: #6c757d;
    
}

/* Layout becomes vertical on small screens */
@media (max-width: 768px) {
    .cdp-row {
        flex-direction: column;
    }
}
