@page
@model StudentPortfolio.Pages.Goals.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm border-1 rounded-3">

                <div class="card-header bg-light text-black rounded-top-4">
                    <h4 class="mb-0">Edit Goal</h4>
                </div>

                <div class="card-body p-4">

                    <form method="post">

                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <input type="hidden" asp-for="Goal.GoalId" />

                        <div class="form-group mb-3">
                            <label asp-for="Goal.Description" class="form-label fw-bold">Description <span class="text-danger">*</span></label>
                            <textarea asp-for="Goal.Description" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Goal.Description" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Goal.Timeline" class="form-label fw-bold"></label>
                            <textarea asp-for="Goal.Timeline" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Goal.Timeline" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Goal.Progress" class="form-label fw-bold"></label>
                            <textarea asp-for="Goal.Progress" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Goal.Progress" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-4">
                            <label asp-for="Goal.Learnings" class="form-label fw-bold"></label>
                            <textarea asp-for="Goal.Learnings" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Goal.Learnings" class="text-danger"></span>
                        </div>

                        <h5 class="mt-3 mb-3 text-black">Dates</h5>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label asp-for="Goal.StartDate" class="form-label">Start Date</label>
                                    <input asp-for="Goal.StartDate" class="form-control" type="date" />
                                    <span asp-validation-for="Goal.StartDate" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label asp-for="Goal.EndDate" class="form-label">End Date</label>
                                    <input asp-for="Goal.EndDate" class="form-control" type="date" />
                                    <span asp-validation-for="Goal.EndDate" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 mb-4">
                                <div class="form-group">
                                    <label asp-for="Goal.CompleteDate" class="form-label">Complete Date</label>
                                    <input asp-for="Goal.CompleteDate" class="form-control" type="date" />
                                    <span asp-validation-for="Goal.CompleteDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <h5 class="mt-3 mb-3 text-black">Completion Notes</h5>
                        <div class="form-group mb-4">
                            <textarea asp-for="Goal.CompletionNotes" class="form-control" rows="5"></textarea>
                            <span asp-validation-for="Goal.CompletionNotes" class="text-danger"></span>
                        </div>

                        <div class="d-flex justify-content-end gap-2 pt-3">
                            <a class="btn btn-danger" asp-page="Goals">Cancel</a>
                            <input type="submit" value="Save Changes" class="btn btn-success" />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
