.input-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.input {
    height: 30px;
}

.info-container {
    gap: 30px;
    align-items: center;
}

.nav {
    margin-bottom: 10px;
}

.table {
    margin-top: 20px;
}

.nav-item {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.icon-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.delete-button {
    border: none;
    outline: none;
    background-color: transparent
}

