/* topl level container */
.profile-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

/* contains the profile pic and information */
.profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* style the image */
.small-svg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* name */
.profile-info h1 {
    margin: 0;
    font-size: 2rem;
}

/* course */
.profile-info p {
    margin: 0;
    font-size: 1rem;
    color: #555;
}

/* top level container for boxes */
.profile-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* boxes containing information relevant for the user */
.box {
    flex: 1 1 300px;
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    box-sizing: border-box;
}

.nav-item {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
