@page
@model StudentPortfolio.Pages.Dashboard.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

@section DashboardNav {
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-page="/Dashboard/Dashboard">Dashboard</a>
    </li>
}

<div class="input-container">
    <h3>Date Range</h3>
    <label for="fromInput">From:</label>
    <input class="input" type="month" id="fromInput" name="from">

    <label for="toInput">To:</label>
    <input class="input" type="month" id="toInput" name="to">
</div>

<a class="btn btn-primary" asp-page="/Summary/Summary">View Summary</a>
