.input-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input {
    height: 30px;
}

.info-container {
    gap: 30px;
    align-items: center;
}

#myChart {
    display: block; /* Ensure it behaves as a block element */
    margin-left: auto;
    margin-right: 0;
}

.chart {
    width: 400px;
    height: 400px;
    margin-left: 800px;
    bottom: 140px;
    clear: both;
    position: absolute
}

.nav-item {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}