@page
@model StudentPortfolio.Pages.Networking.EditEventModel

@{
    ViewData["Title"] = "EditEvent";
}

<h3>Edit Event</h3>

<hr />

<h3> Event: @Model.NetworkingEvent.Name</h3>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NetworkingEvent.EventId" />
            <div class="form-group">
                <label asp-for="NetworkingEvent.Name" class="control-label"></label>
                <input asp-for="NetworkingEvent.Name" class="form-control" />
                <span asp-validation-for="NetworkingEvent.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetworkingEvent.Date" class="control-label"></label>
                <input asp-for="NetworkingEvent.Date" class="form-control" />
                <span asp-validation-for="NetworkingEvent.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetworkingEvent.Location" class="control-label"></label>
                <input asp-for="NetworkingEvent.Location" class="form-control" />
                <span asp-validation-for="NetworkingEvent.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetworkingEvent.Details" class="control-label"></label>
                <input asp-for="NetworkingEvent.Details" class="form-control" />
                <span asp-validation-for="NetworkingEvent.Details" class="text-danger"></span>
            </div>
            <div class="form-button-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a class="btn btn-danger" asp-page="Networking">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
