.page-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.column {
    display: flex;
    flex-direction: column; 
    gap: 30px; 
}

.info-box {
    width: 1000px; 
    height: 230px; 
    background-color: white; 
    border: 2px solid black; 
    padding: 20px; 
    overflow-y: auto; 
}

.box-title {
    margin-top: 30px;
    margin-bottom: 8px; 
    margin-left: 5px;
    font-weight: bold; 
    font-size: 20px;
}

.h3 {
    margin-bottom: 20px;
}

.table {
    margin-top: 30px;
    margin-bottom: 30px;
}

.info-box .form-control.display-mode {
    height: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    box-shadow: none;
    cursor: default;
}

.info-box.form-control.display-mode:focus {
     outline: none;
     box-shadow: none;
}

.icon-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.delete-button {
    border: none;
    outline: none;
    background-color: transparent
}

