@using Microsoft.AspNetCore.Identity
@using StudentPortfolio.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    ApplicationUser? user = null;
    string displayName = "";
    user = await UserManager.GetUserAsync(User);

    if (user != null)
    {
        // Determine which name to display
        if (!string.IsNullOrWhiteSpace(user.PreferedFirstName))
        {
            displayName = user.PreferedFirstName;
            if (!string.IsNullOrWhiteSpace(user.LastName))
                displayName += $" {user.LastName}";
        }
        else if (!string.IsNullOrWhiteSpace(user.FirstName))
        {
            displayName = user.FirstName;
            if (!string.IsNullOrWhiteSpace(user.LastName))
                displayName += $" {user.LastName}";
        }
        else if (!string.IsNullOrWhiteSpace(user.LastName))
        {
            displayName = user.LastName;
        }
        else
        {
            displayName = user.Email ?? "User";
        }
    }
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @displayName!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-page="Login">Admin Login</a>
        </li>
}
</ul>
